body{
    padding: 0.4px;
    margin: 0.4px;
    font-family: sans-serif;
}
#container{
    width: 100% !important;
    margin:auto;
}
.main-color{
    background: #315869;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
#main-table{
    border: 2px solid #0093D1;
    border-top: none;
}
#left{
    border-left: 2px solid #0093D1;
    width: 34%;
    padding: 0px;
}
.full-width{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
#overall-drug-graph{
    background: lightgray;
}
#sites-drug-graph{
    background: white;
    padding: 0px;
    padding-top: 10px;
    border-top: 5px solid gray;
}

#sites-drug-graph-container{
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-right: -20px !important;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: hidden;
}

#overall-ind-table{
}
#overall-ind-graphs{
    background: white;
    margin: auto;
    border-top: 2px dotted lightblue !important;
}
.site-drug-graph{
    width: 100%;
    margin: 0px;
    padding-bottom: 0px;
}
caption{
    font-weight: bold;
    padding: 10px;
    font-size: 1.5em;
}
#indicators-table{
    border-collapse: collapse;
    color: #193d6d;
}
#indicators-table th, #indicators-table td{
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 1.2em;
    vertical-align: middle;
    box-shadow: 2px 2px 2px 1px lightgray;
}
.th{
    width: 17.5%;
}
.td{
    font-size: 1.25em !important;
}
.indicator{
    font-weight: bold;

}
.nodata{
    width: 99%;
    margin:auto;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 2em;
    color: red;
    text-align: center;
    vertical-align: top;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

