<div id="header" class="full-width main-color">
    <span style="padding-left: 10px"> Malaria Dashboard </span>
</div>
<div class="full-width">
  <table id="main-table" style="width: 100%;margin:0px;">

    <tr style="width: 100%;">

      <td style="width:66%;margin:0px;">
        <table id="left-table" style="width:100%;">
          <tr>
            <td id="overall-ind-table" class="overall-ind-table ind-table">

            </td>
          </tr>
          <tr>
            <td id="overall-ind-graphs" class="overall-ind-graphs ind-graphs">

            </td>
          </tr>
        </table>
      </td>

      <td id="left" valign="top">

        <table id="left-table" style="width:100%;">
            <tr>
                <td id="overall-drug-graph" class="overall-drug-graph">

                </td>
            </tr>
            <tr>
                <td id="sites-drug-graph" class="sites-drug-graph" valign="top">
                  <div  id="sites-drug-graph-container">
                    <table id="sites-drug-graph-div" class="sites-drug-graph-div full-width">

                    </table>
                  </div>
                </td>
            </tr>
        </table>

      </td>

    </tr>
  </table>
</div>
<script>

    resize();

    dashboard.avgDrugConsumptionGraph({'Mar' : 2.5, 'Apr' : 31.4, 'May' : 17.5, 'Jun' : 19.0, 'Jul' : 13.5, 'Aug' : 37.5});

    numberOfSites = 5;
    for (var i = 1; i <= numberOfSites; i++){
        loadSiteRow(i);
        dashboard.siteDrugConsumptionGraph(('Kawale ' + i), {'Mar': 2.5, 'Apr': 31.4, 'May': 17.5, 'Jun': 19.0, 'Jul': 13.5, 'Aug': 37.5}, i);
    }

</script>