<div id="header" class="full-width main-color">
    <span style="padding-left: 10px"> Malaria Dashboard </span>
</div>
<div class="full-width" style="background: white" >
  <table id="main-table" style="width: 100%;margin:0px;">

    <tr style="width: 100%;">

      <td style="width:66%;margin:0px;">
        <table style="width:100%;">
          <tr>
            <td id="overall-ind-table" class="overall-ind-table ind-table full-width" valign="top">
                <table id="indicators-table" style="width: 98.5%;margin: auto;display:none">
                    <caption id="indicator-caption"></caption>
                    <tr>
                        <th colspan="2">

                        </th>
                        <th class="th">
                            Today
                        </th>
                        <th class="th">
                            This Month
                        </th>
                        <th class="th">
                            This Quarter
                        </th>
                        <th class="th">
                            This Year
                        </th>
                    </tr>

                  <tr id="reported_cases">
                    <td class="indicator" colspan="2">Reported Cases</td>
                    <th class="today td"></th>
                    <th class="month td"></th>
                    <th class="quarter td"></th>
                    <th class="year td"></th>
                  </tr>

                  <tr id="positives">
                    <td class="indicator" colspan="2">Positivity Rate (%)</td>
                    <th class="today td"></th>
                    <th class="month td"></th>
                    <th class="quarter td"></th>
                    <th class="year td"></th>
                  </tr>

                  <tr id="first_line">
                    <td class="indicator" colspan="2">1<sup>st</sup> Line Treatment (%)</td>
                    <th class="today td"></th>
                    <th class="month td"></th>
                    <th class="quarter td"></th>
                    <th class="year td"></th>
                  </tr>
                  <tr id="treated_negatives">
                    <td class="indicator" colspan="2">Treated Negatives (%)</td>
                    <th class="today td"></th>
                    <th class="month td"></th>
                    <th class="quarter td"></th>
                    <th class="year td"></th>
                  </tr>

                  <tr id="malaria_in_pregnancy">
                    <td class="indicator" colspan="2">Malaria In Pregnancy</td>
                    <th class="today td"></th>
                    <th class="month td"></th>
                    <th class="quarter td"></th>
                    <th class="year td"></th>
                  </tr>

                </table>

            </td>
          </tr>
          <tr>
            <td id="overall-ind-graphs" class="overall-ind-graphs ind-graphs">

              <table id="pie-bar" style="width:99%;">

                <tr>
                  <td id="bar" style="width: 50%;background: white">

                  </td>
                  <td id="pie" style="background: white; border-left: 2px solid lightgray; ">

                  </td>
                </tr>

              </table>

            </td>
          </tr>
        </table>
      </td>

      <td id="left" valign="top">

        <table style="width:100%;">
            <tr>
                <td id="overall-drug-graph" class="overall-drug-graph">

                </td>
            </tr>
            <tr>
                <td id="sites-drug-graph" class="sites-drug-graph" valign="top">
                  <div  id="sites-drug-graph-container">
                    <table id="sites-drug-graph-div" class="sites-drug-graph-div full-width">

                    </table>
                  </div>
                </td>
            </tr>
        </table>

      </td>

    </tr>
  </table>
</div>
<script>
    sites = [];
    cur_site = "";

    var	scrolling = false;
    var height;
    var yJump = 0.0011*window.innerHeight;
    var scrollDelay = 2;

    a = jQuery.ajax(
            {
                url: 'ajax_dashboard',
                success: function (data) {
                    data = JSON.parse(data);
                    sites = Object.keys(data);
                    cur_site = sites[0];
                    resize();

                    ajaxLoad(0, false);

                    pageScroll();

                }
            }
    );


</script>