body{
    padding: 0.4px;
    margin: 0.4px;
    font-family: sans-serif;
}
#container{
    width: 100% !important;
    height: 98.5vh;
    margin:auto;
}
.main-color{
    background: #315869;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
#main-table{
    border: 2px solid #0093D1;
    borde-top: none;
}
#left{
    border-left: 2px solid #0093D1;
    width: 34%;
    padding: 0px;
}
.full-width{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
#overall-drug-graph{
    background: lightblue;
}
#sites-drug-graph{
    background: lightblue;
    padding: 0px;
    padding-top: 10px;
}

#sites-drug-graph-container{
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-right: -20px !important;
    overflow-y: auto;
    overflow-x: hidden;

}

#overall-ind-table{
}
#overall-ind-graphs{
    background: lightblue;
}
.site-drug-graph{
    width: 100%;
    margin: 0px;
    padding-bottom: 0px;
}
caption{
    font-weight: bold;
    padding: 10px;
    font-size: 1.5em;
}
#indicators-table{
    border-collapse: collapse;
    font-size: 1.2em;
    color: #193d6d;
}
#indicators-table th, #indicators-table td{
    border: 1px solid gray;
    padding-left: 2px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px 1px lightgray;
    height: 7.5vmin;
}
.th{
    width: 17.5%;
}
.td{
    color: #666;
}
.indicator{
    font-weight: bold;

}